{
  "extends": [
    "airbnb-base",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "import",
    "prettier"
  ],
  "env": {
    "node": true,
    "browser": true
  },
  "rules": {
    "no-undef": "off",
    "no-console": "off",
    "comma-dangle": [2, "always-multiline"],
    "prettier/prettier": "error"
  }
}
